# -- Ignore Optional Files/Dirs ---
SHG/
movies/
advguildRoot/
music.git/
.htaccess
*.swp
music/
mc/
*.torrent
uploads/
resources/custom-browser-homepage/
resources/img/distinctions/
resources/errors/
resources/advguild/lastsync
advguild.html

# -- Ignore Images ----------------
#*.bmp
#*.png
#*.jpg
#*.jpeg
#*.svg

# -- Ignore Videos ----------------
*.mp4
*.mkv
*.mov
*.wmv
*.flv
*.avi
*.webm

# -- Ignore Audio ------------------
*.mp3
*.ogg
*.wav
*.pcm
*.aac
*.wma
*.flac
*.alac

# -- Ignore Compiled ----------------
*.o
*.exe
*.compiled

# -- Ignore Archived ----------------
*.zip
*.rar
*.7z
*.gz
*.tar
*.tar.gz

# -- Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
