html, body {
  background-color: #000000;
  color: #eeeeee;
}

table tr:hover {
  background-color: #356635;
}

table tr{
align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
a:hover {
  color: #4eff4e;
  text-decoration: none;
}
