---
title: AdvGuild FTP Mirror - Europe/Romania - Brașov <img src="/resources/img/icons/flags/ca.png"> → <img src="/resources/img/icons/flags/eu.png"> / <img src="/resources/img/icons/flags/ro.png">
description: A mirror for ftp://advguild.myftp.org available in http and ftp protocol located in Europe/Romania - Brașov
layout: none
image: http://advguild.myftp.org/favicon.ico
---
<!--Beginning of head.html-->

<html lang="en">
    <head>
        <title>AdvGuild - Mirror</title>
        <meta charset="UTF-8">

        <!-- Canonical URL -->
        <link rel="canonical"  href="{{ site.url }}/advguild">

        <!-- Favicon -->
        <link rel="icon" href="/resources/img/icons/favico.svg" type="image/x-icon">

        <!-- CSS -->
        <link rel="stylesheet" href="/resources/css/main.css?version=1.1">
        <link rel="stylesheet" href="/resources/css/advguild/main.css?version=1.1">
        <link rel="stylesheet" href="/resources/css/uri.css?version=1.1">


        <!-- Primary Meta Tags -->
        <meta name="title" content="AdvGuild FTP Mirror - Europe/Brașov - Romania">
        <meta name="description" content="{{ page.description }}">
        <meta name="theme-color" content="#000">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site.url }}/advguild">
        <meta property="og:title" content="AdvGuild FTP Mirror - Europe/Brașov - Romania">
        <meta property="og:description" content="{{ page.description }}">

        <meta property="og:image" content="{{ page.image }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ site.url }}/advguild">
        <meta property="twitter:title" content="AdvGuild FTP Mirror - Europe/Brașov - Romania">
        <meta property="twitter:description" content="{{ page.description }}">
        <meta property="twitter:image" content="{{ page.image }}">
    </head>

    <body>
        <div id="wrap">
            <div id="main">
                {% include header.html %}
                <div class="dw_cool">
                    <h1>About</h1>
                    <hr>

                    <p>This webpage mirrors the <a href="http://advguild.myftp.org">advguild.myftp.org</a> FTP server.</p>
                    
                    <p>You can also access the mirror via FTP or FTPS on port 21 at  
                        <a href="ftp://therealone78.ddns.net/advguild" class="therealone78">ftp://therealone78.ddns.net/advguildRoot</a> and  
                        <a href="ftps://therealone78.ddns.net/advguild" class="therealone78">ftps://therealone78.ddns.net/advguildRoot</a>.  
                        Use an FTP client like the terminal FTP tool or <a href="https://filezilla-project.org/">FileZilla</a> with username <code>anonymous</code> and password <code>anonymous</code>.  
                        Port 990 is closed, so FTPS connections use port 21.</p>
                    
                    <p>SFTP access to this mirror is not yet available despite port 22 (SSH/SFTP) being currently open.</p>

                    <p>The official server is <a href="http://advguild.myftp.org" class="thirdParty" target="_blank">advguild.myftp.org</a>, located in Canada.</p>

                    <br>
                    <div align="center">
                        <a href="https://minecraft-mp.com/server-s114168" target="_blank"><img src="https://minecraft-mp.com/regular-banner-114168.png" border="0"></a>
                    </div>

                    <h1>Files</h1>
                    <hr>

                    <br>
                    <!--End of head.html-->
